* {
  padding: 10px 25px;
  font-family: "PT Sans Narrow";
  text-align: center;
  color: #404040;
}
h2, span {
  text-align: left;
  font-family: "Fjalla One", sans-serif;
}
h2 {
  font-size: 30px;
  margin-left: 50px;
}
p {
  text-align: justify;
  font-size: 18px;
  width: 600px;
  margin: auto;
  margin-bottom: 30px;
}
.logo {
  width: 150px;
}
.definitions {
  padding: 0;
}
.definitions h2 {
  margin-bottom: 0;
}
hr {
  height: 0;
  border: solid .5px transparent;
  padding: 0;
  width: 700px;
  margin: 50px auto;
}

#MapRadioButtons{
  opacity: 0;
}