body {
	background-color: #354154;
	color: #a3ff87;
	text-align: center;
}

footer {
  background-color: #282c34;
  height:20px;
  width: 100%;
  color:  #FFDAB9;
  text-align: center;
  bottom: 0;
  position: fixed;
}
