/* global styles */
* {
  padding: 10px 25px;
  font-family: "PT Sans Narrow";
  text-align: center;
  color: #404040;
  }
  *:focus {outline: none;}
  hr {
  height: 0;
  border: solid .5px transparent;
  padding: 0;
  width: 700px;
  margin: 50px auto;
  }
  
  /* typography */
  h2, span, h1, h3 {
  text-align: left;
  font-family: "Fjalla One", sans-serif;
  }
  h1 {
  font-size: 55px;
  text-align: center;
  margin-top: -30px;
  }
  h2 {
  font-size: 30px;
  margin-left: 150px;
  }
  h3 {
    margin-left: 150px;
  }
  p {
  text-align: justify;
  font-size: 19px;
  line-height: 1.5em;
  width: 600px;
  margin: auto;
  margin-bottom: 30px;
  }
  .definitions {
  padding: 0;
  }
  .definitions h2 {
  margin-bottom: 0;
  }
  .definitions p {
  text-align: left;
  }
  span {
  float: left;
  clear: both;
  margin-left: 150px;
  font-size: 18px;
  }
  
  /* images and icons */
  .header-image {
  width: 450px;
  }
  .icon {
  width: 70px;
  float: left;
  margin-left: 50px;
  }
  .truck {
  transform: rotateY(180deg);
  padding-top: 12px;
  }
  .earth { margin-top: -15px; }
  .bin { margin-top: -25px; }
  
  /* bar chart color legend */
  .captureP {
  text-align: center;
  padding: 0;
  margin-bottom: 5px;
  }
  .colorLegend-bar {
  width: 220px;
  height: 40px;
  margin: auto;
  padding: 0;
  }
  .colorLegend-bar div {
  width: 53px;
  height: 40px;
  float: left;
  padding: 0;
  margin: 0 1px;
  font-size: 14px;
  text-align: center;
  }
  .colorLegend-bar .first {
  background:#c2e699;
  }
  .colorLegend-bar .second {
  background:#78c679;
  }
  .colorLegend-bar .third {
  background:#31a354;
  color: #F5F7F9;
  }
  .colorLegend-bar .fourth {
  background:#006837;
  color: #F5F7F9;
  }
  
  /* map viz */
  #mapViz {
  margin-left:0px;
  padding: 0;
  }
  .binmap p {
    padding: 5px 0px;
    margin: 10px auto;
  }
  /* map control */
  .selectionTool, form {
  text-align: left;
  }
  .selectionTool {
  width: 50%;
  margin: 10px auto 50px auto;
  padding: 20px;
  border: solid 5px #31a354;
  background:  rgba(80, 158, 82, 0.2);
  }
  #submit {
  padding: 10px 0px;
  }
  button {
  font-size: 16px;
  padding: 5px 30px;
  background: #509E52;
  color: white;
  letter-spacing: 1px;
  box-shadow: none;
  border: solid #509E52 3px;
  border-radius: 3px;
  }
  button:hover {
  background: white;
  color: #509E52;
  }
  #MapRadioButtons{
  opacity: 0;
  text-align: left;
  padding: 0;
  margin: 0;
  }
  .mainTool {
  padding: 0px;
  text-align: left;
  }
  .optionsP {
  text-align: left;
  margin: 0px;
  padding-left: 0;
  padding-top: 0;
  font-family: "Fjalla One", sans-serif;
  }
  select {
  font-size: 16px;
  background: white;
  color: #404040;
  border: solid 2px #31a354;
  padding: 10px 30px;
  letter-spacing: 1px;
  margin: 5px 5px 20px 0px;
  }
  #btnSubmit {
    float: right;
    margin-top: 10px;
  }
